
.hataKutu{
    display: block;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #ff3333;
color: #ff3333;
background-color: #f6eff5;
    border-radius: 2px;
}


.basariliKutu{
    display: block;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #ff3333;
color: #ff3333;
background-color: #ccffcc;
    border-radius: 2px;
}

