
        label{
            display: block;
            color: #769dc5;
            font-weight: bold;
            margin: 10px 0;
        }

        input[type="text"]{
            padding: 5px;
            color:#f00;
            border:1px solid #ccc;
            border-radius: 3px;
        }
